body {
    margin: 0px;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: bisque;
}

header {
    background-color: bisque;
    padding-top: 1px;
    padding-bottom: 1px;
    border-bottom: 3px solid black;
}

ul { 
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 2rem;
}

ul > li:nth-child(1) {
    color: blue;
}

ul > li:nth-child(2) {
    color: red;
}

p {
    font-size: 3rem;
    background-color: black;
    color: white;
    padding: 25px;
    border-radius: 15px;;
}

button {
    height: 100px;
    width: 280px;
    font-size: 3rem;
    border-radius: 15px;
    border: 3px solid black;
    background-color: bisque;
    margin-bottom: 5px;
}

button:hover {
    background-color: white;
}